:root {
  --box-height: 10rem;
  --box-margin: 1rem 2.5rem;
  --box-padding: 0.625rem;
  --border-radius: 1.25rem;
  --border-width: 0.125rem;
  --font-size: 1.25rem;
  --font-family: "Figtree", sans-serif;
}

.media-item {
  background-color: gray;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: var(--box-margin);
  border-radius: var(--border-radius);
  border: var(--border-width) solid black;
  overflow: hidden;
}

.media-item-img {
  width: 30%;
  height: var(--box-height);
  object-fit: cover;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border-right: none;
}

.media-item-info {
  display: flex;
  flex-direction: column;
  padding: var(--box-padding);
  color: white;
  font-weight: 500;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

@media (max-width: 768px) {
  .media-item {
    flex-direction: column;
    width: 90%;
  }

  .media-item-img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
}
