:root {
  --box-height: 10%;
}
.media-item {
  background-color: gray;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: 20px 50px;
  border-radius: 20px;
  border: 2px solid black;
}
.media-item-img {
  width: 30%;
  height: 20%;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid black;
}

.media-item-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  font-family: "Figtree", sans-serif;
}
