:root {
  --content-width: 60%;
  --content-height: 80vh;
  --content-margin: 10px auto;
  --content-padding: 1rem;
}

.page-content {
  width: var(--content-width);
  height: var(--content-height);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .page-content {
    width: 90%; /* Make it wider on smaller screens */
    height: auto; /* Adjust height for better flexibility */
  }
}
